<h2><%= @flat.name %></h2>
<p><%= @flat.address %></p>


<br><br>
<%= link_to "Delete",
  flat_path(@flat),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

<br><br>
<%= link_to "Edit Flat", edit_flat_path(@flat) %>

<br><br>
<%= link_to "Back", flats_path %>
